@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Hammersmith+One&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    margin: 0px auto;
}

h1 {
    font-family: 'DM Sans', sans-serif;
}

/* ----------------
Header
-
Footer
---------------- */
header {
    position: unset;
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: background-color 0.3s ease;
}


.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Cabin', sans-serif;
}

.header-title img {
    max-width: 100%;
    height: auto;
}

.header-title {
    flex-grow: 1;

}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1%;
}

.header-nav a {
    font-size: 1em;
    font-weight: 300;
    color: #252525;
    font-family: 'Lato';
    width: 50%;
}

.transparent-background {
    background-color: transparent;
    background-color: #fafafa;
}

.solid-background {
    background-color: #fafafa;
    color: #fff;
    font-family: 'Lato';
    width: auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.light-text {
    color: #333;
    width: auto;
}

.dark-text {
    color: #333;
    height: auto;
    border: none;
}


/*  =======
========== */
footer {
    font-family: 'DM Sans', sans-serif;
    height: 120px;
    width: 100%;
    margin: 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 100%;
    color: #fff;
    font-size: 0.8em;
    background-color: #252525;
    border: 1px solid #fff;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 100%;
    background-color: #252525;
}

.footer-content p {
    color: #fff;
    font-size: 0.8em;

}

.footer-icons {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.footer-text,
.footer-text p {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    height: 100%;
    width: 100%;
    margin: 0.5%;
}



/* =====================

============== */

/* -------------------

HOME PAGE

| welcome
| recipe cards

---------------------- */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0 0.5%;
    font-family: 'Lato', sans-serif;
}

.welcome-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    /* height: 100vh; */
    margin: 0 0.5%;
    font-family: 'Lato', sans-serif;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: none;
    max-width: 100%;
    margin: 0.5%;
    margin-bottom: 2.5%;
    height: auto;
    text-align: center;
    color: #06142E;
    line-height: 2.5;
}

.welcome-content h3 {
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 2em;
}

.welcome-content p {
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 2em;
}

/*  =======
========== */
.recipe-card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    color: #56433e;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 98%;
    height: 70%;
    margin: 2% 0;
    font-family: 'DM Sans', sans-serif;
}

.recipe-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin: 2% 0.5%;
}

.recipe-card-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
}

.recipe-card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    margin: 2% 0.5%;
}

.recipe-card-img img {
    align-self: center;
    max-width: 100%;
    height: auto;
}

.recipe-card-title {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: auto;
    max-width: 100%;
    flex-wrap: wrap;
    color: #56433e;
    /* margin: 2% 0%; */
}

.recipe-card-title h1 {
    width: 100%;
    font-size: 3.5em;
    color: #56433e;
    align-self: center;
    text-align: center;
    height: auto;
    width: auto;
    margin: 1% 0.5%;
}

.recipe-card-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2% 0.5%;
    font-size: 2em;
    color: #56433e;
}


.link-style:hover {
    color: #776b69;
    font-size: 1em;
}



/* -------------------

RECIPE CATEGORIES
SEARCH


---------------------- */

.recipe-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    height: auto;
    overflow: hidden;
    margin: 0;
    color: #56433e;
}

.recipe-page-top {

    height: 20%;
}



/* - - -  - - -  - - -  - - - 
Side bar | Filter
- - -  - - - - - -  - - - */
/* -------
Recipes Page

    -------- */

.recipe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    color: #56433e;
}

.recipe-page-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    top: 10%;
    width: 100%;
    background-color: #fafafa;
}

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    color: #75727a;
}

.page-title h1 {
    height: auto;
    max-width: 100%;
    width: auto;
    text-wrap: wrap;
    font-size: 3em;
    padding: 0;
    margin: 0 1.5%;
}

.recipe-collection-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    color: #75727a;
}

.recipe-collection-title h1 {
    height: auto;
    max-width: 100%;
    width: auto;
    text-wrap: wrap;
    font-size: 2em;
    padding: 0;
    margin: 0 1.5%;
}

/* */
.filter-component {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: center;
    width: 100%;
    margin: 0 1.5%;
}

.filter-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    width: 30%;
}

.filter-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    width: 100%;
    margin: 1%;
    color: #56433e;
}

/* */
.filter-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 100%;
    width: 100%;
    margin: 0.5% 0;
    text-decoration: none;
    font-size: 0.75em;
    flex-wrap: nowrap;
    font-family: 'DM Sans', sans-serif;
}

.filter-select select {
    max-width: 100%;
    width: 100%;
    height: 4em;
    padding-left: 2%;
    font-size: 1.25em;
    font-weight: 500;
    color: #252525dd;
    border: 0.5px solid #3c3c3c12;
    background-color: #fff;
}

.filter-option option {
    margin-top: 2.5%;
    padding: 0 0.5%;
    padding-left: 2%;
    font-size: 1.25em;
    font-weight: 600;
}


/* */
.recipe-collection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 90%;
    height: 100%;
    overflow-y: scroll;
    padding-block-start: 80%;
}


/* */
.recipe-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 8000;
    margin: 1% 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans', sans-serif;
}

.recipe-card-top-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
}

.recipe-card-img-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 2% 0.5%;
}

.recipe-card-img-main img {
    align-self: center;
    max-width: 60%;
    height: auto;
    margin: 2% 0;
}

.recipe-card-title-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: auto;
    max-width: 100%;
    flex-wrap: wrap;
    color: #56433e;
    /* margin: 2% 0%; */
}

.recipe-card-title-main h1 {
    align-self: center;
    text-align: center;
    width: 100%;
    height: auto;
    width: auto;
    margin: 1% 0.5%;
    font-size: 3.5em;
    color: #56433e;
}

.recipe-card-link-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2% 0.5%;
    font-size: 2em;
    color: #56433e;
}


/* */
.recipe-category-list ul {
    width: 100%;
}

.recipe-category-list ul li {
    list-style: circle;
    align-self: flex-start;
    list-style-position: inside;
    line-height: 1.75;
    width: auto;
    margin: 1%;
}

.recipe-list-link {
    font-family: 'Lato';
    color: #252525;
    font-weight: 400;
    font-size: 1.25em;
}

.recipe-list-link:hover {
    color: #5160b9;
}


.link-style {
    align-self: center;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 3em;
    text-wrap: wrap;
}

/*  ===============

| RECIPE VIEW PAGE
LAYOUT
TEXT

================== */

.recipe-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
    color: #56433e;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 98%;
    height: 70%;
    margin: 17.5% 0;
    font-family: 'DM Sans', sans-serif;
}

.recipe-view-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    max-width: 80%;
    width: 100%;
}

.recipe-content-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
}

.recipe-page-title {
    width: 100%;
    height: auto;
    text-align: left;
    max-width: 100%;
}

.recipe-page-title h1 {
    font-size: 3em;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    width: 100%;
    max-width: 98%;
    flex-grow: 1;

}

.recipe-page-title-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.recipe-page-title-img img {
    max-width: 30%;
}

.recipe-section-title h2 {
    font-size: 2.5em;
}


/* ----
------- */

.modify-recipe {
    width: 100%;
}

.modify-top {
    width: 100%;

}

.show-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 80%;
    margin: 0.5%;
    height: auto;
    background-color: transparent;
    align-items: center;
    height: 100%;
    border: 0.5px solid #252525;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    height: 2em;
    background-color: transparent;
    border: 0.5px solid #252525;
    width: 100%;
    max-width: 40%;
}

/*  ===============

RECIPE SECTION LAYOUTS

================== */
.ingredients-section {
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.ingredients-section-title {
    font-size: 2em;
    width: 100%;
    height: auto;
    align-self: flex-end;
    text-align: left;
}

.instructions-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    max-width: 99%;
    width: 100%;
    margin: 1% 0%;
    height: auto;
}

.recipe-notes-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    margin: 2% 0%;
    height: auto;
}

.instructions-section-title {
    font-size: 1.5em;
    width: 100%;
    max-width: 99%;
    height: auto;
    align-self: flex-end;
    text-align: left;
}

.instructions-section-title h2 {
    max-width: 99%;
}

.recipe-card-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    margin: 2% 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans', sans-serif;
}


.recipe-card-content-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    width: 100%;
    border: 1px solid #252525;
    height: auto;
    margin: 2% 0.5%;
}

.recipe-card-top-category {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
}

.recipe-card-img-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    margin: 2% 0.5%;
}

.recipe-card-img-category img {
    align-self: center;
    max-width: 50%;
    height: auto;
}




.recipe-card-title-category {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: auto;
    max-width: 100%;
    flex-wrap: wrap;
    color: #56433e;
    /* margin: 2% 0%; */
}

.recipe-card-title-category h1 {
    width: 100%;
    font-size: 3.5em;
    color: #56433e;
    align-self: center;
    text-align: center;
    height: auto;
    width: auto;
    margin: 1% 0.5%;
}

.recipe-card-link-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2% 0.5%;
    font-size: 2em;
    color: #56433e;
}



/*  ===============

RECIPE TABLE

================== */
.ing-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}


.recipe-table,
.sub-recipe-table {
    text-align: left;
    min-width: none;
    width: 100%;
    height: 100%;
    max-width: 90%;
    margin: 1% 0;
}

.recipe-table-body tr,
.sub-recipe-table-body tr,
th,
tr {
    border-bottom: 1px solid #252525;
    max-width: 92%;
}

.row-th-lg,
.sub-row-th {
    font-size: 0.8em;
    font-weight: 400;

}

.row-td,
.sub-row-td {
    font-weight: 300;
    text-align: left;
    max-width: 50%;
    margin-left: 0%;
    font-size: 1.2em;
}

.row-lg {
    width: 50%;
}

.row-md {
    width: 20%;
    width: auto;
    font-size: 0.5em;
}

.row-sm,
.sub-row-sm {
    width: auto;
    width: auto;
    max-width: 50%;
    font-size: 0.7em;
}



/** ---
Recipe sub-ing
--- **/
.sub-recipe-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 99%;
    margin: 1% 0%;
}

.sub-recipe-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 99%;
    margin: 1% 0%;
}

.sub-recipe-title,
.recipe-page-sub-title {
    width: 100%;
    max-width: 99%;
}

.recipe-page-sub-title h2 {
    height: auto;
    width: 100%;
    font-size: 2em;
    text-align: left;
}

.sub-recipe-title h3,
.recipe-page-sub-title h3 {
    height: auto;
    width: 100%;
    max-width: 98%;
    font-size: 1.5em;
}

.recipe-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    max-width: 90%;
}


.images-container {
    display: flex;
    flex-direction: column;
    flex: 0 39%;
    width: auto;
    margin: 0.5%;
    height: auto;
}

.images-container img {
    max-width: 100%;
}



.image-side {
    width: auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.image-side img {
    max-width: 100%;
    height: auto;
}


/*
.sub-recipe-table {
    text-align: left;
    min-width: none;
    width: 100%;
    height: 100%;
}

.sub-recipe-title {
    height: auto;
    width: 100%;
    max-width: 100%;
}

.sub-recipe-title h3 {
    height: auto;
    width: auto;
    text-align: left;
    font-size: 2em;
}

.sub-recipe-table-body {
    width: 100%;
    border: 1px solid #252525;
}

.sub-recipe-table-body tr,
th,
tr {
    border-bottom: 1px solid #252525;
    margin-left: 1%;
}
.sub-row-th th {
    font-size: 1.5em;
    font-weight: 600;
}
.sub-row-td td {
font-size: 1.5em;
}
*/

/*  ===============

RECIPE INSTRUCTIONS

NOTES

================== */

.recipe-instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.recipe-instructions ol {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
}

.recipe-instructions ol li {
    font-weight: 300;
    line-height: 2;
    margin: 1% 0;


    text-align: left;
    list-style-position: inside;
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5%;
    width: 100%;
}

.recipe-notes-title {
    font-size: 2em;
    width: 100%;
    height: auto;
    text-align: left;
    font-size: 2em;
}

.recipe-page-title-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.recipe-page-title-img img {
    max-width: 70%;
}


/* --
-- */

.next-back-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

#prevBtn,
#nextBtn {
    height: 2.5em;
    width: 35%;
    border: 0.5px solid #252525;
    background-color: #fff;
    color: #252525;
    font-size: 1.25em;
    font-weight: 300;
    font-family: 'Lato';
    cursor: pointer;
}

#prevBtn:hover,
#nextBtn:hover {
    border: 0.5px solid #5160b9;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




/* - 

- */

.animated-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

.animated-section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    min-height: 105vh;
}

.animated-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}


.parallax-title {
    height: 100%;
}

.parallax-title-sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
    width: 100%;
    max-width: 100%;
}

.parallax-title-sub h1 {
    color: #fff;
    font-size: 10em;
    width: 100%;
    max-width: 100%;
    text-align: left;
    text-wrap: wrap;
}


.parallax-section {
    height: auto;
}

.parallax-step-half {
    height: 50vh;
}

.parallax-step {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    min-height: 125vh;

}

.parallax-step-title {
    margin: 1%;
    height: 100%;
    width: auto;
    max-height: 20%;
}

.parallax-item-title {
    font-size: 4em;
    height: 100%;
}

.parallax-item-title h1 {
    font-size: 5em;
}

.parallax-item-3 {
    font-size: 3em;
    color: #fafafa;
    background-color: #0e0d0d52;
    background-blend-mode: blur(10px);
    max-width: 98%;
    margin: 0.5%;
}

.parallax-step-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1% 0;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
    text-align: left;
    border: 1px solid;
    padding: 0.5%;
    margin: 1%;
    color: #fafafa;
}



.parallax-list {
    font-size: 3em;
    font-family: 'DM Sans';
    line-height: 2;
    font-weight: 500;
    max-width: 90%;
    width: 100%;
    align-self: flex-start;
    color: #fafafa;

}

.parallax-li {

    font-size: 3em;
    font-family: 'DM Sans';
    line-height: 1.5;
    font-weight: 500;
    max-width: 90%;
    width: 100%;
    align-self: flex-start;
    color: #fafafa;
}

.parallax-li-dark {
    line-height: 2;
    list-style-type: disc;
    font-size: 3em;
    font-family: 'DM Sans';
    line-height: 1.5;
    font-weight: 400;
    max-width: 90%;
    width: 100%;
    align-self: flex-start;
    color: #252525;
}

.parallax-li-dark li {
    line-height: 2;
    list-style-type: circle;
    font-size: 1.5em;
    font-weight: 300;
}

/*
.parallax-list p {
    background-color: #30323675;
    padding: 0.5%;
    margin: 1%;
    max-width: fit-content;
} 
*/


.parallax-item-3-dark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    height: 100%;
    font-size: 2em;
    margin: 2% 0%;
    color: #252525;
}

.parallax-item-3-dark h1 {
    text-align: left;
    font-size: 3em;
    width: 100%;
    max-width: 99%;
}

.parallax-list-dark {
    font-size: 3em;
    font-family: 'DM Sans';
    line-height: 1.5;
    font-weight: 500;
    max-width: 90%;
    width: 100%;
    align-self: center;
    color: #252525;
}

.parallax-item-3-dark p {
    font-size: 2.5em;
    font-family: 'DM Sans';
    font-weight: 300;
    max-width: 90%;
    line-height: 2;
}

.list-card ul {
    font-size: 1em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    line-height: 2;

}

.list-card ul li {
    margin: 1% 0%;
}

.list-card-img {
    max-width: 60%;
    position: relative;
    right: -20%;
}

.parallax-step-img-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.parallax-step-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 2% 0.5%;
}

.list-card-img-center {
    max-width: 60%;
    align-self: center;
    width: 100%;
    right: 0%;
}

.parallax-list-text-1 {
    font-size: 6em;
    font-family: 'DM Sans';
    line-height: 2.5;
    font-weight: 300;
    max-width: 80%;
    width: 100%;
    align-self: center;
    text-align: center;
}

.parallax-list-text-2 {
    font-size: 5em;
    font-family: 'DM Sans';
    line-height: 2;
    font-weight: 300;
    max-width: 98%;
    width: 100%;
    align-self: center;
    text-align: center;
}

.parallax-item-4-dark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    font-size: 3em;
    font-family: 'DM Sans';
    font-weight: 400;
    width: 100%;
    max-width: 98%;
    text-align: right;
    color: #252525;
}

.parallax-item-5 {
    font-family: 'DM Sans';
    max-width: 92%;
    width: 100%;
    font-size: 3.5em;
    align-self: center;
    text-align: center;
    color: #fafafa;
    background-color: #051b294d;
    background-blend-mode: blur(10px);
    border: 0.5px solid #61666a11;
}

.parallax-item-6 {
    font-family: 'DM Sans';
    max-width: 92%;
    width: 100%;
    font-size: 3.5em;
    align-self: center;
    text-align: center;
    color: #252525;
}

.parallax-item-5 h1 {
    font-weight: 400;
    line-height: 2;
}

.parallax-down h1,
.parallax-down {
    width: 80%;
    text-align: center;
    line-height: 2;
    height: 100%;
}


/* Article, blog */
.article-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    margin-top: 10%;

}

.article-title {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-size: 2em;
    margin: 2% 0%;
}

.article-title h1 {
    width: 100%;
    max-width: 98%;
    height: auto;
    text-align: left;
    font-size: 2em;
    font-family: "Cormorant Garamond", serif;
    margin: 1% 0%;
}

.article-title p {
    text-align: left;

    max-width: 90%;
    font-size: 0.8em;
    margin: 1% 0%;
    font-family: "Cormorant Garamond", serif;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    max-width: 98%;
}

.article-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    max-width: 99%;
    margin: 2% 1%;
}

.sub-title {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 2em;
    margin: 0.5% 0%;
}

.sub-title h3 {
    width: 100%;
    height: auto;
    align-self: flex-end;
    text-align: left;
    font-size: 1.5em;
    font-family: "Cormorant Garamond", serif;
}

.article-body p {
    width: 100%;
    max-width: 92%;
    height: auto;
    text-align: left;
    font-size: 2em;
    line-height: 2;
    font-family: "Cormorant Garamond", serif;
}

.article-body ol {
    width: 100%;
    max-width: 92%;
    height: auto;
    text-align: left;
    list-style-position: inside;
    font-size: 1em;
    line-height: 2;
    font-family: "Cormorant Garamond", serif;
}




/* -------------------
BREAKPOINTS
- 700px
- 900px
- 1200px 

---------------------- */
.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: none;
    max-width: 100%;
    width: 100%;
    margin: 0.5%;
    margin-bottom: 2.5%;
    height: auto;
    text-align: left;
    color: #06142E;
    line-height: 2.5;
}

.welcome-content-test {
    line-height: 1.5;
    width: 92%;
    height: 70vh;
}

.welcome-content-test h3 {
    font-size: 5em;
    width: 92%;
    color: #e3edf8;
}

.recipe-container {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}


@media only screen and (orientation: landscape) {

    .recipe-card-section {
        height: auto;
        justify-content: flex-start;
    }

    .recipe-card {
        height: 90%;
        margin: 1%;
    }

    .recipe-page-top {
        margin-top: 5%;
        height: auto;

    }
}

@media only screen and (min-width: 700px) {




    /* */

    .welcome-section {
        height: 80h;
    }

    .welcome-banner {
        margin-top: 10%;
        /*     max-width: 70%;*/
        max-width: 90%;
        height: auto;
    }

    .recipe-card-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 120vh;
        color: #56433e;
    }

    .recipe-card {
        max-width: 90%;
        height: auto;
    }

    .recipe-card-img img {
        align-self: center;
        max-width: 80%;
    }

    .recipe-card-title {
        height: auto;
        max-width: 100%;
    }

    .recipe-card-title h1 {
        height: auto;
        width: 100%;
        margin: 1%;
    }

    .recipe-card-link {
        margin: 1%;
    }

    .next-back-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 60%;
        height: auto;
    }

    /* tables */
    .ing-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 99%;
    }

    .image-side {
        width: auto;
        max-width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .image-side img {
        width: auto;
        height: auto;
    }

    .sub-recipe-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 99%;
        margin: 1% 0%;
    }

    .sub-recipe-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: 99%;
        margin: 1% 0%;
    }

    /* -------
Recipes Page

    -------- */

    .recipe-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        min-height: 100vh;
        margin: 0;
        color: #56433e;
    }

    .recipe-page-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 999999;
        height: auto;
        top: 8%;
        width: 100%;
        background-color: #fafafa;
    }

    .page-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        width: 100%;
        color: #75727a;
    }

    .page-title h1 {
        height: auto;
        max-width: 100%;
        width: auto;
        text-wrap: wrap;
        font-size: 3.5em;
        padding: 0;
        margin: 0 1.5%;
    }

    /* */
    .filter-component {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: center;
        width: 100%;
        margin: 0 1.5%;
    }

    .filter-label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Lato';
        width: 30%;
    }

    .filter-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: sticky;
        width: 100%;
        margin: 1%;
        color: #56433e;
    }

    /* */
    .filter-select {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        max-width: 100%;
        width: 100%;
        margin: 0.5% 0;
        text-decoration: none;
        font-size: 0.6em;
        flex-wrap: nowrap;
        font-family: 'DM Sans', sans-serif;
    }

    .filter-select select {
        max-width: 100%;
        width: 100%;
        height: 4em;
        padding-left: 2%;
        font-size: 1.25em;
        font-weight: 500;
        color: #252525dd;
        border: 0.5px solid #3c3c3c12;
        background-color: #fff;
    }

    .filter-option option {
        margin-top: 2.5%;
        padding: 0 0.5%;
        padding-left: 2%;
        font-size: 1.25em;
        font-weight: 600;
    }


    /* */
    .recipe-collection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        max-width: 60%;
        height: auto;
        min-height: 100%;
        margin-top: 20%;
        z-index: 500;
    }


    /* */
    .recipe-card-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        max-width: 100%;
        height: auto;
        margin: 2% 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-family: 'DM Sans', sans-serif;
    }

    .recipe-card-top-main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 100%;
        height: auto;
    }

    .recipe-card-img-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        margin: 2% 0.5%;
    }

    .recipe-card-img-main img {
        align-self: center;
        max-width: 60%;
        height: auto;
        margin: 2% 0;
    }

    .recipe-card-title-main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: auto;
        max-width: 100%;
        flex-wrap: wrap;
        color: #56433e;
        /* margin: 2% 0%; */
    }

    .recipe-card-title-main h1 {
        align-self: center;
        text-align: center;
        width: 100%;
        height: auto;
        width: auto;
        margin: 1% 0.5%;
        font-size: 3.5em;
        color: #56433e;
    }

    .recipe-card-link-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 2% 0.5%;
        font-size: 2em;
        color: #56433e;
    }


    /* --- 
    
    ---- */
    .recipe-page-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 330vh;
    }

    .side-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        max-height: 50%;
        margin: 0;
        position: fixed;
        width: 30%;
        left: 0;
        top: 10%;
        z-index: 9999;
        left: 0.5%;
    }


    /* */


    .recipe-view-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: auto;
        margin: 0;
        color: #56433e;
    }

    .recipe-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        width: 100%;
        max-width: 99%;
        margin: 0;
        margin-top: 20%;
        font-family: 'Lato', sans-serif;
    }

    .recipe-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        min-height: 100vh;
        margin-top: 15%;
    }

    .recipe-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin-top: 15%;
    }



    .recipe-page-title {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-size: 2em;
    }

    .recipe-page-title h1 {
        height: auto;
        align-self: flex-start;
        text-align: left;
        width: 100%;
    }

    .recipe-content-top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        width: 100%;
        max-width: 100%;
    }

    /* -- ing section
    -- */


    .main-ingredients {
        width: 100%;
    }

    .sub-ingredients {
        width: 100%;
        margin: 2% 0;
    }

    .recipe-main {
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
    }

    .ingredients-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 98%;
        text-align: left;
        margin: 2% 0%;
    }

    .instructions-section-title {
        margin: 1% 0%;
        text-align: left;
        width: 100%;
        max-width: 99%;
        font-size: 2.5em;

    }

    .recipe-page-title-img {
        align-items: center;
        max-width: 80%;
    }

    .recipe-page-title-img img {
        align-self: flex-end;
        height: auto;
        max-width: 50%;
        margin: 1%;
    }


    .recipe-instructions li {
        font-size: 2em;
        font-weight: 400;
        line-height: 1.75;
        width: 100%;
        text-align: left;
    }

    .recipe-notes-section {
        display: flex;
        flex-direction: row;
    }


    /*  ===============
| RECIPE MAIN
- 
================== */


    /*  ===============
| HEADER FOOTER
================== */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 10000;
        transition: background-color 0.3s ease;
        height: auto;
        background: #252525;
        width: 100vw;
    }

    .header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-family: 'Cabin', sans-serif;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    .header-title img {
        max-width: 100%;
        height: auto;
    }

    .header-title {
        flex-grow: 1;
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    .header-nav a {
        font-size: 1em;
        width: auto;
        font-weight: 300;
        margin: 0 0.5%;
    }

    .transparent-background {
        background-color: transparent;
        background-color: #fafafa;
    }

    .solid-background {
        background-color: #fafafa;
        color: #fff;
        font-family: 'Lato';
        width: auto;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }

    .light-text {
        color: #333;
        width: 50%;
    }

    .dark-text {
        color: #333;
        height: auto;
        border: none;
        width: 50%;
    }

    .headerLogoImg {
        height: auto;
        max-width: 100%;
        margin: 0.5%;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: #252525;
    }

    .footer-icons {
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: space-around;
        align-items: center;
    }

}


/* = = =
|
|
= = = */
@media only screen and (min-width: 900px) {

    .welcome-section {
        height: 90vh;
    }

    .welcome-banner {
        margin-top: 5%;

    }

    .welcome-content {
        margin: 1%;
    }

    .recipe-card-section {
        width: 100%;
    }

    .recipe-card {
        max-width: 70%;
        height: auto;
    }

    .recipe-page-top {
        top: 8%;
    }



    .recipe-card-img img {
        align-self: center;
        width: 100%;
    }

    .recipe-card-title {
        height: auto;
        max-width: 100%;
    }

    .recipe-card-title h1 {
        height: auto;
        width: 100%;
        margin: 1%;
    }

    .recipe-card-link {
        margin: 1%;
    }


    /* *

    #prevBtn,
    #nextBtn {
        height: 3em;
        width: 40%;
        font-size: 1em;
        font-weight: 500;
    }

    .next-back-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 70%;
        height: auto;
    }
.recipe-table {
    text-align: left;
    min-width: none;
    width: 100%;
    height: 100%;
    max-width: 98%;
    margin: 1% 0;
}

.recipe-table-body tr,
th,
tr {
    border-bottom: 1px solid #252525;
    margin-left: 2%;
}

.row-th-lg {
    font-size: 2.75em;
    font-weight: 500;

}

.row-td {
    font-weight: 300;
    text-align: left;
    margin-left: 2%;
    font-size: 1.5em;
}

.row-lg {
    width: 50%;
}

.row-md {
    width: 20%;
    width: auto;
    font-size: 0.5em;
}

.row-sm {
    width: auto;
    width: 30%;
    font-size: 0.5em;
}

.row-th {
    width: auto;
    font-weight: 500;
    font-size: 0.8em;
}
*/





    .recipe-category-title {
        width: 80%;
    }

    .recipe-category-list {
        max-width: 80%;
    }

    .recipe-category-list ul {
        width: 100%;
    }

    .recipe-category-list ul li {
        font-size: 1.5em;
    }

    .recipe-content {
        margin-top: 17.5%;
    }

    .recipe-content {
        margin-top: 17.5%;

        margin: 0;
    }

    .recipe-page-title-img {
        align-items: flex-end;
        max-width: 80%;
    }

    .recipe-page-title-img img {
        max-width: 60%;
        height: auto;
    }

    .recipe-notes-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 80%;
        width: 100%;
        height: auto;
        margin: 1% 0;
    }


}


/* = = =
|
|
= = = */
@media only screen and (min-width: 1050px) {


    .recipe-card {
        width: 100%;
        height: auto;
    }

    .recipe-category-content {
        max-width: 92%;
    }

    .recipe-content {
        margin-top: 10.5%;
        align-items: center;
        max-width: 100%;
        margin: 0;
    }

    .recipe-page-title {
        align-items: flex-start;

    }

    .recipe-page-title h1 {
        align-items: flex-start;
        width: 100%;
    }

    .recipe-page-title-img {
        max-width: 60%;
    }

    .recipe-page-title-img img {
        max-width: 50%;
    }

    .recipe-page-top {
        top: 8%;
    }
}

/* = = =
|
|
= = = */
@media only screen and (min-width: 1250px) {
    .recipe-page-top {
        top: 3%;
    }

    .welcome-banner {
        max-width: 90%;
    }

}


/* = = =
|
|
= = = */
@media only screen and (min-width: 1500px) {
    .recipe-page-top {
        top: 0%;
    }

    .welcome-banner {
        max-width: 90%;
    }

}


/* = = =
|
|
= = = */




/* ------




----------- */





.app-content-container {

    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.component-title,
.view-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 1%;
    background-color: #fafafa;
}

.component-title h2,
.view-title h2 {
    font-size: 4em;
    font-weight: 500;
    font-family: 'Cabin';
    background: transparent;
    width: 100%;

}

.form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    margin: 1%;
    width: 90%;
    height: 100%;
    /* flex-basis: 90%; */
    overflow-y: scroll;
    background: transparent;


}

/* ---

Form styles
---- */

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    max-width: 99%;
    background: transparent;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background: transparent;
}

.ingredient-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 98%;
    background: transparent;
    border: 1px solid #252525;
    font-family: 'DM Sans', sans-serif;
    margin: 0.5%;
}

.ing-container {
    display: flex;
    flex-direction: row;
    margin: 1%;
    width: 100%;
}

.ingredient-form input {
    height: auto;
    font-size: 1.25em;
    font-weight: 300;

}

.form-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    max-width: 50%;
    margin: 0.5%;
    height: auto;
    background-color: #fafafa;
    align-items: flex-end;
    height: 100%;
    background: transparent;
}

.recipe-input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    max-width: 100%;
    margin: 1% 0%;
    background: transparent;
}

.recipe-input {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 3em;
    flex-grow: 1;
    margin: 0.5%;
    background-color: #fff;
    font-size: 1em;
    padding: 0.5%;
    min-width: none;
    max-width: 100%;
    width: 100%;
    border: 0.5px solid #dbdbdb;
}

.recipe-input option {
    border: 0.5px solid #dbdbdb;
    flex-grow: 1;
    width: 100%;
}

.recipe-input-group label {
    width: 200px;
    margin: 0.5%;
    background: transparent;
    font-family: 'DM Sans', sans-serif;
}




/* =====================
Flex layouts
============== */
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.content-center {
    justify-content: center;
}

.content-start {
    justify-content: flex-start;
}

.content-end {
    justify-content: flex-end;
}

.content-between {
    justify-content: space-between;
}

.content-even {
    justify-content: space-evenly;
}

.content-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.center-self {
    align-self: center;
}

/*------- 
MARGIN, WIDTH
-----------------------*/
.h-100 {
    height: 100%;
}


.h-50 {
    height: 50%;
}

.h-150 {
    height: 150px;
}

/** Margin */
.m-05 {
    margin: 0.5%
}

.m-1 {
    margin: 1%;
}

.mb-1 {
    margin-bottom: 1%;
}

.mt-1 {
    margin-top: 1%;
}

.mbt-1 {
    margin: 1% 0%;
}

.mrl-1 {
    margin: 0% 1%;
}

.m-2 {
    margin: 2%;
}

.mt-2 {
    margin-top: 2%;
}

.mbt-2 {
    margin: 2% 0%;
}

.mrl-2 {
    margin: 0% 2%;
}

.m-3 {
    margin: 3%;
}

.mbt-5 {
    margin: 5% 0%;
}

.mt-10 {
    margin-top: 10%;
}

/** Width */
.w-10 {
    width: 10%;
}

.w-12 {
    width: 12.5%;
}

.w-15 {
    width: 15%;
}

.w-17 {
    width: 17.5%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-98 {
    width: 98%;
}

.w-100 {
    width: 100%;
}

/** Padding */
.p-05 {
    padding: 0.5%
}

.pbt-05 {
    padding: 0.5% 0%
}

.p-1 {
    padding: 1%
}

.pbt-05 {
    padding: 1% 0%
}

.p-2 {
    padding: 2%;
}